@import url('https://fonts.googleapis.com/css?family=Assistant:300,600,700');

body {
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('assets/images/Background.png') no-repeat center center fixed;
    background-size: cover;
    direction: rtl;
}

.title {
    color: #1d3048;
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    margin: 10px;
}

/* Center Content Styling */
.center-content {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preview {
    display: block;
    margin: 20px auto;  /* Centers the preview image */
    border: 2px solid #008b8b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 100%;  /* Prevents the image from exceeding its container */
}

/* Separator Styling */
.sepline {
    border: none;
    height: 2px;
    background-color: #008b8b;
    margin: 20px auto;
    width: 50%;
}

.section {
    margin: 20px;
}

canvas {
    border: 2px solid #008b8b;
    display: block;
    margin: auto;
}

input[type="file"],
input[type="text"],
select,
button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

button {
    background: #008b8b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #006770;
}

.image-site-logos {
    text-align: center;
}

.image-site-logos img {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: transform 0.2s ease-in-out;
}

.image-site-logos img:hover {
    transform: scale(1.1);
    border-color: #008080;
}

/* Footer Styling */
.footer {
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #008b8b;
}

.footer a {
    color: #008b8b;
    font-weight: bold;
    text-decoration: none;
}
